<section>
  <h2>Create New Post</h2>
<div class="container">
  <div class="card mx-auto" style="width: 500px;">
  <div class="card-body mx-auto">
  <form class="new-post-form px-5">
    <div>
      <label for="post-title">Title</label>
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-text">Post</label>
      <textarea class="form-control" rows="3" id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  </div> 
</div> 
</div>
{{#if posts.length}}

  <h2 class="fw-bolder mb-1 py-5">Posts</h2>
    {{#each posts as |post|}}
    <li style="list-style: none;">
      {{> posts post}}
      <a class="btn btn-primary mb-5" href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      <a class="btn btn-primary mb-5" href="/post/{{id}}">Add Comment</a>
    </li>
    {{/each}}

{{/if}}
</section>



<script src="/javascript/add-post.js"></script>